* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #774a14;
}

a.active {
    background: #fafafa;
    border-radius: 5px;
}

a:hover {
    background: #fafafa;
    border-radius: 5px;

}

/* HEADER */
.blur {
    backdrop-filter: blur(13px);
}

header {
    width: 100%;
    display: flex;
    background-color: #f1b7704d;
}

.logo img {
    height: 20dvh;
    width: auto;
    border-radius: 5px 35px 35px 5px;
    margin: 10px;
}

.nav {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
}

.nav-gral {
    width: 70%;
    display: flex;
    align-items: center;
}

.nav-pages {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.menu-list {
    display: flex;
    color: black;
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;
    overflow: hidden;
}

.menu-list ul {
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
}

li {
    margin: 10px;

}

.hamburger {
    display: none;
}

/* main */
h2 {
    color: #b8731e;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.conciertos-pasados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conciertosYt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    border-radius: 10%;
    padding: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 5px 2px rgba(128, 128, 128, 0.534);
}

.form-concierto {
    display: flex;
    margin: 10px;
    width: 40%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    justify-content: center;
}

/* footer */

footer {
    position: static;
    width: 100%;
    bottom: 0%;
    text-align: center;
    list-style-type: none;
    background-color: #f1b7704d;
}

h3 {
    color: #b8731e;
}

.footer-redes {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    font-size: 30px;
}

.menu-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
   
}
/*REclamos*/
.slider{
    aspect-ratio: 10 / 16;
    width: 300px;
    position: relative;
    display: flex;
    border-radius: 15px;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.slider img{
    width: 100%;
    left: 0;
    position: sticky;
    border-radius: 15px;
    scroll-snap-align: center;
    
}
.slider-button{
    position: absolute;
    top: 80%;
    right: 28%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;

}
/*festiDamus* carousel*/

.carousel {
    width: 100vw;
    height: 100vh;
    margin-top: -50px;
    overflow: hidden;
    position: relative;

}

.carousel .list .item {
    width: 180px;
    height: 250px;
    position: absolute;
    top: 80%;
    transform: translateY(-70%);
    left: 70%;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 100;
    transition: 1s;
}

.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.carousel .list .item:nth-child(3) {
    left: 67%;
}

.carousel .list .item:nth-child(4) {
    left: calc(67% + 200px);
}

.carousel .list .item:nth-child(5) {
    left: calc(67% + 400px);
}

.carousel .list .item:nth-child(6) {
    left: calc(67% + 600px);
}

.carousel .list .item:nth-child(n + 7) {
    left: calc(67% + 800px);
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    width: 400px;
    text-align: left;
    color: #fafafa;
    display: none;
}

.list .item:nth-child(2) .content {
    display: block;

}

.content .title {
    font-size: 100px;
    text-transform: uppercase;
    color: #b8731e;
    font-weight: bold;
    line-height: 1;
    text-shadow: 3px 4px 7px rgba(255, 255, 255, 0.8);
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;

}

.content .name {
    font-size: 100px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    text-shadow: 3px 4px 7px rgba(255, 255, 255, 0.8);
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content .des {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    margin-left: 5px;

    opacity: 0;
    animation: animate 1s ease-in-out 0.9s 1 forwards;
}

.content .btn {
    margin-left: 5px;

    opacity: 0;
    animation: animate 1s ease-in-out 1.2s 1 forwards;
}

.content .btn button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #fafafa;
}

.content .btn button:nth-child(1) {
    margin-right: 15px;
}

.content .btn button:nth-child(2) {
    background: transparent;
    color: #432909;
    border: 2px solid #fafafa;
    transition: 0.3s;
}

.content .btn button:nth-child(2):hover {
    background-color: #432909;
    color: #fafafa;
    border: 2px solid #fafafa;
    border-color: #432909;

}

@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

/*carousel arrows*/

.arrows {
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;

}

.arrows button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f29727;
    color: #fafafa;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.arrows button:hover {
    background: #fafafa;
    color: #432909;
}

/*time running*/

.carousel .timeRunning {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 4px;
    background-color: #f29727;
    left: 0;
    top: 0;
    animation: runningTime 7s linear 1 forwards;
}

@keyframes runningTime {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

/* responsive */

/* @media(max-width: 999px){
  
} */
@media (max-width:768px) {
   .list .item .content {
        left: 50px;
    }

    .content .title {
        font-size: 70px;
    }

    .content .name {
        font-size: 70px;
    }

    .content .des {
        font-size: 16px;
    }

    header {
        width: auto;
    }

    .menu-list a {
        font-size: 1rem;
       text-transform: uppercase;
    }

    .hamburger {
        display: block;
    }

    .nav-gral {
        width: auto;

    }

    .panel {
        flex-direction: column;
        align-items: center;
        height: 50dvh;
        border-radius: 10px;
        justify-content: center;
        gap: 5rem;
        background: #f5bb7435;
        width: 95%;
        position: fixed;
        top:80px;
        z-index: 2000;
        right: 0;
        display: none;
        text-transform: uppercase;
        transform: translateY(745px);
        transition: .7s ease-in-out;
    }

    .panel.is-active {
        display: block;
        transform: translateY(0);
        backdrop-filter: blur(10px);
    }

    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
        background-color: #f29727;
    }

    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner:after,
    .hamburger.is-active .hamburger-inner:before {
        background-color: #f29727;
    }
}

@media (max-width:655px) {

  .list .item .content {
        top: 40%;
    }

    .content .title {
        font-size: 45px;
    }

    .content .name {
        font-size: 45px;
    }

    .content .btn button {
        padding: 10px 15px;
        font-size: 14px;

    }

    .logo img {
        height: 80px;
        width: auto;
        border-radius: 5px 35px 35px 5px;
        margin: 10px;
    }
}