* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #b8731e;
}

/* HEADER */
.blur{
    backdrop-filter: blur(13px);
}
header{
    width: 100%;
    display: flex;
    background-color: #f1b7704d;
   }

.logo img {
       height:30dvh;
       border-radius: 5px;
  margin-top: 10px;
}

.nav{
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
}
.nav-gral{
    width: 70%;
    display: flex;
    align-items: center;}
.nav-pages{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.menu-list {
    display: flex;
    color: black;
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;
    overflow: hidden;
}

.menu-list ul {
    text-decoration: none;
    list-style-type: none;
}

li {
    margin: 10px;
   
}
.hamburger{
    display: none;
}
/* main */

.main {
    display: flex;
 }



 /* footer */

 footer{
    position: static;
    width: 100%;
    bottom: 0%;
    text-align: center;
    list-style-type: none;
 }
/* responsive */
@media (max-width:768px) {
 
    .menu-list a{
        font-size: 2rem;
    }
    .hamburger{
        display: block;
    }
    
    .nav-gral {
        width: auto;
    
    }
    
    .panel {
        flex-direction: column;
        align-items: center;
        height: 100dvh;
        justify-content: center;
        gap: 2rem;
        background:  #f1b7704d;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        display: none;
        transform: translateX(745px);
        transition: .4s ease-in-out;
    }
    .panel.is-active{
        display: block;
        transform: translateX(0);
        backdrop-filter: blur(13px);
    }
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
              background-color: #f29727;
    }
    .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
        background-color: #f29727;
    }
}